*{
    margin: 0;
    padding: 0;
}
.first-section{
    background-image: url(tech.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.one{
    background-color:transparent ;
    color: white;
    padding-top: 45px;
    padding-left: 142px;
}
.one > h2 > span, .one h1{
    font-size: 50px;
}
.two{
    background-color: black;
    padding: 20px;
    height: 66px;
}
.two h3{
    font-size: 38px;
    font-weight: 500;
    color: aliceblue;
    padding-left: 250px;
}
.two h3 > span{
    font-size: 62px;
}
.second-section{
    background-color: aliceblue;
    height: 500px;
}
.web{
    background-color: bisque;
    height: 284px;
    width: 189px;
    
}